<form action="/schools" method="post">
    <div>
        <label>Nome:</label>
        <input type="text" name="nome"/>
    </div>
        <div>
        <label>CNPJ:</label>
        <input type="text" name="CNPJ"/>
    </div>
        <div>
        <label>Endereco:</label>
        <input type="text" name="endereco"/>
    </div>
        <div>
        <label>CEP:</label>
        <input type="text" name="CEP"/>
    </div>
        <div>
        <label>bairro:</label>
        <input type="text" name="bairro"/>
    </div>
        <div>
        <label>telefone:</label>
        <input type="text" name="telefone"/>
    </div>
            <div>
        <label>email:</label>
        <input type="email" name="email"/>
    </div>
            <div>
        <label>cursos:</label>
        <input type="text" name="cursos"/>
    </div>
              <div>
        <label>categoria:</label>
        <input type="text" name="categoria"/>
    </div>
        <input type="submit" value="Log In"/>
    </div>
</form>