<form action="/user" method="post">

        <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
        <div>
        <label>username:</label>
        <input type="text" name="username"/>
    </div>

        <input type="submit" value="Log In"/>
    </div>
</form>